casacore-data_*.org.tar.gz
WSRT_Measures_*-000001.ztar
casacore-data-*/
casacore-data_*.orig.tar.gz
casacore-data_*-1*.debian.tar.gz
casacore-data_*-1*.dsc
casacore-data_*-1*.deb
casacore-data_*-1*.changes
casacore-data_*-1*.build
casacore-data_*-1*.changes
casacore-data_*-1*.ppa.upload
casacore-data_*-1*.debian.tar.xz

